<h1>Listing homes</h1>

  <% @image.each do |image| %>
    <% if image.id == 123 %>
      <% @imageBackground = root_url + "/images/" + image.image_fname %>
    <% end %>
  <% end %>  

<body style="background-image: url(<%= @imageBackground %>); ">
afsd
</body>
