<h1>Listing high_scores</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Game</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @high_scores.each do |high_score| %>
      <tr>
        <td><%= high_score.user %></td>
        <td><%= high_score.game %></td>
        <td><%= high_score.score %></td>
	<td><%= link_to 'Show', high_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
