
<% @track.each do |track| %>
  <div>
    <div><%= track.track_name %></div>
    <div>
      <% @image.each do |image| %>
        <% if image.track_id == track.image_id %>
          <%= link_to (image_tag root_url + "/images/" + image.image_fname, size: "100x100", alt: image.image_fname), image %>
        <% end %>
      <% end %>
    </div> 
    <br> 
  </div>
<% end %>
