<style>
  
  div { color: white;}
  a { color: #3399FF;}
  a:visited { color: #B2B2CC;}
  
  .tinted-image {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),
      url(<%= @imageBackground %>);
  }
</style>

<style>
.style_image {
  height: 400px; width: 1000px; overflow: hidden;
}

.tinted-image {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      );
    }
</style>

<!-- <head>
<link rel="stylesheet" type="text/css" href="/assets/bootstrap_and_overrides.css.less">
</head> -->

<body class="tinted-image">
<% @track.each do |track| %>
  <div>
    <h3 style="color:black"><%= track.track_name %></h3>
    <div>
      <% @image.each do |image| %>
        <% if image.track_id == track.image_id %>
          <%= link_to (image_tag root_url + "/images/" + image.image_fname, :class => "style_image", alt: image.image_fname), track %>
        <% end %>
      <% end %>
    </div> 
    <br> 
  </div>
<% end %>
</body>
